<body>
  <div class="bo">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
    </div>
    <div class="bb">
      <button class="button primary-bg btn-block">Login</button>
    </div>
    <div class="pp">
      Not Registered? <span> <a href="">Create a new account!</a></span>
    </div>
  </div>
</body>
