<body>
  <div class="container">
    <nav>
      <ul>
        <li>Home</li>
        <li>Taco Menu</li>
        <li>Draft List</li>
        <li>Hours</li>
        <li>Directions</li>
        <li>Contact</li>
      </ul>
    </nav>
<!--    <div>-->
      <section class="border1">
        section的margin-left样式确保了有足够的空间容纳nav元素
      </section>
      <section class="border2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </section>
      <section class="border3">
        注意观察当你调整浏览器窗口时发生了什么。效果棒死了！
      </section>
<!--    </div>-->
  </div>
</body>
